/.ipynb_checkpoints
/predict.py
/pyimagesearch
/train.py
/__pycache__
/dataset
/preparations/Batch1
/preparations/indata_tif
/preparations/Segmentations(NIFTI)
/preparations/M27759_Rec
/gener_image.png
/output.avi
/saved_models/
/dataset_kesm/
/data
/micro_ct
/blend_images
/predictions
/nrrd
/unprocessed_data
/image_folder